---
import { parse } from 'path'
import type { GetStaticPathsOptions, GetStaticPathsResult } from 'astro'
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths(options: GetStaticPathsOptions): Promise<GetStaticPathsResult> {
  const pages = await Astro.glob('../mds/**.md')
  return pages.map(page => {
    const { compiledContent, file } = page
    const { name: title  } = parse(file)
    return {
      params: { slug: title },
      props: { title, compiledContent },
    };
  });
}

const { title, compiledContent } = Astro.props;
---
<Layout title={title}>
  <div set:html={compiledContent()}></div>
</Layout>