.menu-wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 120px;
  margin-top: 10px;
	background-color: hsl(273, 37%, 93%);
  .menu-item {
    display: flex;
    align-items: center;
    height: 10px;
    padding: 3px 16px;
    font-size: 10px;
    text-decoration: none;
    &:hover {
      background-color: hsla(351, 54%, 85%);
    }
  }
}