.menu-wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 1rem;
	background-color: hsl(273, 37%, 93%);
  .menu-item {
    display: flex;
    align-items: center;
    height: 0.1rem;
    padding: 0.03rem 0.16rem;
    font-size: 0.12rem;
    text-decoration: none;
    &:hover {
      background-color: hsla(351, 54%, 85%);
    }
  }
}