---
import { parse } from 'path'
import type { MenuList } from './components/type'
import { Header, Main, Menu } from './components/index'
export interface Props {
	title: string;
}

const isPro = import.meta.env.MODE === 'production'

const pages = await Astro.glob('../mds/**.md')

const { title } = Astro.props;
const menuList: MenuList[] = pages.map(page => {
	const { file } = page
	const { name } = parse(file)
	return { name, url: name, origin: isPro ? Astro.site?.origin || '' : '' }
})
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script>
			function calcRem() {
				let deviceWidth = document.documentElement.clientWidth;
				if (deviceWidth > 640) {
					deviceWidth = 640;
				} else if (deviceWidth < 320) {
					deviceWidth = 320;
				}
				if (navigator.userAgent && navigator.userAgent.indexOf('iPad') > -1) {
					deviceWidth = document.documentElement.clientWidth;
				}
				document.documentElement.style.fontSize = deviceWidth / 3.75 + 'px';
			}
			calcRem();
			window.onresize = function () {
				calcRem()
			}
		</script>
	</head>
	<body>
		<Header></Header>
		<Menu menuList={menuList}></Menu>
		<div class="main">
			<Main>
				<slot />
			</Main>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		padding: 0;
		margin: 0;
		font-family: system-ui, sans-serif;
		background-color: hsl(273, 37%, 93%);
	}
	body {
		padding: 0;
		margin: 0;
		font-size: 0.16rem;
	}

	div {
			box-sizing: border-box;
	}

	.main {
		margin: 0.1rem 0.1rem 0.1rem 1.1rem;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
